{% extends 'base.html' %}


{% block head %}
    <script>
        $(document).ready(function() {
            $("input:text:visible:first").focus();
            $("#id_due_date").datepicker();
            $("#id_title").addClass("form-control");
            $("#addlink").addClass("active");
        } );
    </script>
{% endblock %}


{% block content %}
    <p></p>
    <form action="/addtask/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary btn-lg" value="Add Task" />
    </form>
{% endblock %}