{% extends 'base.html' %}

{% block head %}
    <script >
        var priority_name = ["Low", "Normal", "High", "Top"];
        var text = '';
        var estimatedDate = new Date();
        var dateVar = '';
        var dsplit = '';
        var dd = estimatedDate.getDate();
        var mm = estimatedDate.getMonth() + 1;
        var compareDate = new (Date)
        var numberOfDaysToAdd = 0;

        $(document).ready(function(){
            {% for x in items %}

                //This is for the time estimation
                numberOfDaysToAdd = {{ x.time_estimated }} / 180;
                estimatedDate.setDate(estimatedDate.getDate() + numberOfDaysToAdd);
                dd = estimatedDate.getDate();
                mm = estimatedDate.getMonth() + 1;
                dateVar = '{{ x.due_date|date:"Y m d"}}';
                dsplit = dateVar.split(" ");
                compareDate = new Date(dsplit[0],dsplit[1]-1,dsplit[2]) ;

                // Show all tasks
                if('{{ view }}' == 'all') {

                    text = '';
                    if (estimatedDate > compareDate) { text+= '<mark>'; }
                    text += '<a href="/edittask/{{ x.pk }}/">';
                    text += '{{ x.title }} - ' + priority_name[{{ x.priority }}-1] + ' Priority - ';
                    text += 'Due on {{ x.due_date|date:"M d" }} - {{ x.time_estimated }} mins</a>';
                    text += ' - Estimated ' + mm + '/' + dd + '<hr />';
                    if (estimatedDate > compareDate) { text+= '</mark>'; }
                    $('#todos').append(text);

                } else if ('{{ view }}' == 'big' & {{ x.time_estimated}} >= 15) {
                    //Show big tasks
                    // TODO: Move the text rendering to a function so the code's not repeating

                    text = '';
                    if (estimatedDate > compareDate) { text+= '<mark>'; }
                    text += '<a href="/edittask/{{ x.pk }}/">';
                    text += '{{ x.title }} - ' + priority_name[{{ x.priority }}-1] + ' Priority - ';
                    text += 'Due on {{ x.due_date|date:"M d" }} - {{ x.time_estimated }} mins</a>';
                    text += ' - Estimated ' + mm + '/' + dd + '<hr />';
                    if (estimatedDate > compareDate) { text+= '</mark>'; }
                    $('#todos').append(text);

                } else if ('{{ view }}' == 'quick' & {{ x.time_estimated}} <= 15) {
                    //Show big tasks
                    // TODO: Move the text rendering to a function so the code's not repeating

                    text = '';
                    if (estimatedDate > compareDate) { text+= '<mark>'; }
                    text += '<a href="/edittask/{{ x.pk }}/">';
                    text += '{{ x.title }} - ' + priority_name[{{ x.priority }}-1] + ' Priority - ';
                    text += 'Due on {{ x.due_date|date:"M d" }} - {{ x.time_estimated }} mins</a>';
                    text += ' - Estimated ' + mm + '/' + dd + '<hr />';
                    if (estimatedDate > compareDate) { text+= '</mark>'; }
                    $('#todos').append(text);

                }

            {% endfor %}

        });

    </script>
{% endblock %}

{% block content %}

    <hr />

    <span id="todos"> </span>

{% endblock %}